{% extends "fiszki/base.html" %}
{% block title %}Dodaj zestaw — recolearn{% endblock %}
{% block content %}
    <h1 style="color:#22a89b;text-align:center;margin-bottom:26px;">Dodaj nowy zestaw</h1>
    <form method="post">
        {% csrf_token %}
        <label>Tytuł zestawu:<br><input type="text" name="title" required></label><br><br>
        <label>Opis (opcjonalny):<br><textarea name="description" rows="2"></textarea></label><br><br>
        <button class="btn" type="submit" style="background:#18af92;">Dodaj</button>
    </form>
{% endblock %}
